	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/11/2020 07:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-architect:before { content: "\f100"; }
.flaticon-consultation:before { content: "\f101"; }
.flaticon-paint-bucket:before { content: "\f102"; }
.flaticon-architecture:before { content: "\f103"; }
.flaticon-speech-bubbles-comment-option:before { content: "\f104"; }
.flaticon-history:before { content: "\f105"; }
.flaticon-mission-accomplished:before { content: "\f106"; }
.flaticon-target:before { content: "\f107"; }
.flaticon-empty:before { content: "\f108"; }
.flaticon-right-arrow:before { content: "\f109"; }
.flaticon-left-arrow:before { content: "\f10a"; }
.flaticon-phone-call:before { content: "\f10b"; }
.flaticon-calendar:before { content: "\f10c"; }
.flaticon-pin:before { content: "\f10d"; }
.flaticon-email:before { content: "\f10e"; }
.flaticon-profile-user:before { content: "\f10f"; }